<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">CRUD con API REST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['Panel']">Panel </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['Editor/:product_id']">Editor</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['Consulta']" tabindex="-1" aria-disabled="true">Consulta</a>
            </li>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>