<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="heroes.img" class="card-img-top" [alt]="heroes.nombre">
    <div class="card-block">
        <h5 class="card-title">{{ heroes.nombre }}</h5>
        <p class="card-text">{{ heroes.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroes.aparicion }}</small></p>

        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block">
                            Ver más...
      </button>
        <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>