<div id="first" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Pablo Everardo López Camargo</h1>
            <h5>Desarrollador Angular,<br> Santa Catarina, Nuevo León.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="../../../assets/cvimg/contacto.png" alt="contacto" style="margin-bottom: 5%; width: 100%;">
            <ul>
                <li>
                    <img src="../../../assets/cvimg/phone.png" alt="teléfono" style="width: 10%">(833) 403 1037
                </li>
                <li><img src="../../../assets/cvimg/what.png" alt="whatsapp" style="width: 10%">(833) 403 1037</li>
                <li><img src="../../../assets/cvimg/link.png" alt="linkedin" style="width: 10%"><a href="https://www.linkedin.com/in/PELC">Pablo E López Camargo</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <img src="../../../assets/cvimg/CV.jpeg" alt="chico">
            <p>
                "Analista programador Front-end Angular, ,maquetación CSS-Bootstrap, egresado por la Universidad Autónoma de Tamaulipas"
            </p>
        </div>
    </div>
    <img src="../../../assets/cvimg/skills.png" alt="skills" style="margin-bottom: 5%; width: 22% ">
    <div class="row">

        <div class="col">
            <div class="progress blue">
                <span class="progress-left">
												<span class="progress-bar"></span>
                </span>
                <span class="progress-right">
												<span class="progress-bar"></span>
                </span>
                <div class="progress-value">85%</div>
            </div>
            <p>Angular</p>
        </div>
        <div class="col">
            <div class="progress yellow">
                <span class="progress-left">
												<span class="progress-bar"></span>
                </span>
                <span class="progress-right">
												<span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
            <p>HTML</p>
        </div>
        <div class="col">
            <div class="progress blue">
                <span class="progress-left">
												<span class="progress-bar"></span>
                </span>
                <span class="progress-right">
												<span class="progress-bar"></span>
                </span>
                <div class="progress-value">80%</div>
            </div>
            <p>CSS/JS</p>
        </div>
        <div class="col">
            <div class="progress yellow">
                <span class="progress-left">
												<span class="progress-bar"></span>
                </span>
                <span class="progress-right">
												<span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
            <p>TypeScript</p>
        </div>
        <div class="col">
            <div class="progress blue">
                <span class="progress-left">
												<span class="progress-bar"></span>
                </span>
                <span class="progress-right">
												<span class="progress-bar"></span>
                </span>
                <div class="progress-value">70%</div>
            </div>
            <p>PHP</p>
        </div>
    </div>
</div>
<div id="second" class="container-fluid">
    <div class="col-md-6">
        <h3>Cursos</h3>
        <ul style="text-align: center">

            <li>
                <a class="btn" data-toggle="modal" data-target="#CSSModal">
                Curso de Angular 7 desde cero hasta profesional
                </a>
            </li>
            <li>
                <a class="btn" data-toggle="modal" data-target="#CSSModal">
                 CSS para dar estilo a tus páginas web
                </a>
            </li>
            <li>
                <a class="btn" data-toggle="modal" data-target="#HTMLCModal">
                HTML5 y CSS3
                </a>
            </li>
            <li>
                <a class="btn" data-toggle="modal" data-target="#HTMLModal">
                HTML5 para diseños web
                </a>
            </li>
            <li>
                <a class="btn" data-toggle="modal" data-target="#PHPModal">
                PHP y MySQL aprender a trabajar con Bases de datos
                </a>
            </li>
            <li>
                <a class="btn" data-toggle="modal" data-target="#PHPSQLModal">
                 PHP y MySQLi conceptos básicos para principiantes
                 </a>
            </li>
        </ul>
        <h3>Educación</h3>
        <ul>
            <li>
                <p>2018</p>
                <h6>Especialidad en Finanzas y Banca</h6>
                <p>Escuela Bancaria y Comercial</p>
            </li>
            <li>
                <p>2012-2016</p>
                <h6>Licenciatura en Economía</h6>
                <p>Universidad Autónoma de Tamaulipas</p>
            </li>
            <li>
                <p>2015</p>
                <h6>ANE</h6>
                <p>Matemáticas Macroeconomícas</p>
            </li>
        </ul>

        <h3>Experiencia: Programador Front-end</h3>
        <ul>
            <li>
                <h4>Alpha Credit</h4>
                <h6> Creación de Prótotipo</h6>
                <p>Noviembre 2018 - Marzo 2019</p>
                <ul class="pl-md-2 item-description">
                    <li><i class="far fa-bookmark"></i> Maquetado y diseño</li>
                    <li> <i class="far fa-bookmark"></i> Configuración de Routing</li>
                    <li><i class="far fa-bookmark"></i> Generación dinámica de formularios mediante un archivo de configuración JSON, separando los tipos de input en componentes. </li>
                    <li><i class="far fa-bookmark"></i> Implementación de un componente de terceros para manipulación de imagenes. </li>
                </ul>
            </li>
            <br>
            <li>
                <h4> Zipco.mx <small>Venta de inmuebles a nivel México (startup) </small> </h4>
                <h6> Programador Angular </h6>
                <p>Febrero 2017 - Noviembre 2018</p>
                <ul class="pl-md-2 item-description">
                    <li> <i class="far fa-bookmark"></i> Desarrollo e implementación de Pipes personalizados. </li>
                    <li><i class="far fa-bookmark"></i> Desarrollo Core de servicios para proveer la funcionalidad de Componentes </li>
                    <li><i class="far fa-bookmark"></i> Diseño estructural del proyecto con base en la lógica de carga diferida (Lazy Loading) </li>
                    <li><i class="far fa-bookmark"></i> Implementación de gráficos para la visualización de macrodatos </li>
                    <li><i class="far fa-bookmark"></i> Bosquejo de mapas con lenguaje Angular para la selección de inmuebles pertenecientes al startup </li>
                    <li><i class="far fa-bookmark"></i> Esbozo de CRUD para la alimentación dinámica de la Base de Datos del Startup </li>
                    <li><i class="far fa-bookmark"></i> Autenticación de información contenida mediante Auth0 </li>
                </ul>
            </li>
            <br>
        </ul>
        <h3>Experiencia: Analista</h3>
        <ul>
            <li>
                <h4>Grupo GAF Riesgos</h4>
                <h6>Proyección de datos (Proyecto)</h6>
                <p>Noviembre 2018 - Febrero 2019</p>
                <ul class="pl-md-2 item-description">
                    <li> <i class="far fa-bookmark"></i> Construcción de indicadores y manejo de base de datos para elaboración de metodología de riesgos en materia de PLD y FT.</li>
                    <li><i class="far fa-bookmark"></i> Revisión de grado de riesgo del cliente.</li>
                    <li><i class="far fa-bookmark"></i> Ejecución de pruebas a sistemas para liberación de desarrollos.</li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Instituto Metropolitano de Planeación (IMEPLAN Zona Conurbada Tampico)</h4>
                <h6>Analista de Base de Datos (Proyecto)</h6>
                <p>Febrero - Noviembre 2017</p>
                <ul class="pl-md-2 item-description">
                    <li> <i class="far fa-bookmark"></i> Construcción de indicadores para medir la expansión de la marcha urbana.</li>
                    <li><i class="far fa-bookmark"></i> Manejo de Base de datos para la tercerización de la economía de la zona conurbada de Tampico.</li>
                    <li><i class="far fa-bookmark"></i> Análisis de cuartiles sobre el impacto en la reducción de la competitividad laboral en la zona conurbada de Tampico.</li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Proyección y análisis de Base de datos Para el programa social PROSPERA</h4>
                <h6>Analista de Base de Datos (Proyecto)</h6>
                <p>Enero 2015- Enero 2017</p>
                <ul class="pl-md-2 item-description">
                    <li> <i class="far fa-bookmark"></i> Construcción de indicadores para conocer la disparidad salarial.</li>
                    <li><i class="far fa-bookmark"></i> Consumo de Base de datos para antecedentes de pobreza en la zona sur del País</li>
                    <li><i class="far fa-bookmark"></i> Proyección de estimadores para el crecimiento de la pobreza para los próximos 20 años.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6" style="margin-left:20px">
        <h3>Hábilidades</h3>
        <div class="container">
            <img src="../../../assets/cvimg/angularjs.png" alt="angular" style="width: 20%; height: auto;">

            <img src="../../../assets/cvimg/ts.png" alt="typescript" style="width: 20%; height: auto;">

            <img src="../../../assets/cvimg/HTML.png" alt="HTML" style="width: 20%; height: auto;">

            <img src="../../../assets/cvimg/css.png" alt="CSS" style="width: 14%; height: auto;">

            <img src="../../../assets/cvimg/git.png" alt="git" style="width: 14%; height: auto;">

            <img src="../../../assets/cvimg/sass.png" alt="sass" style="width: 14%; height: auto;">

            <img src="../../../assets/cvimg/jquery.png" alt="jquery">

            <img src="../../../assets/cvimg/nodejs.png" alt="node">

            <img src="../../../assets/cvimg/php.png" alt="php">


            <img src="../../../assets/cvimg/sql.png" alt="sql">

        </div>
        <h3>Inglés</h3>
        <p>Inglés técnico </p>

        <h3>Áptitudes</h3>
        <ul style="padding-left: 5%">
            <li><i class="fas fa-check" style="margin-right: 3%;"></i> Lider

            </li>
            <li><i class="fas fa-check" style="margin-right: 3%;"></i> Orador

            </li>
            <li><i class="fas fa-check" style="margin-right: 3%;"></i> Manejo de personal

            </li>
            <li><i class="fas fa-check" style="margin-right: 3%;"></i> Estratega

            </li>
        </ul>

    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="AngularModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación Angular</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/Angular.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CSSModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación CSS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/CSS.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="HTMLCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación HTML Y CSS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/HTMLC.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="HTMLModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación HTML</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/HTML.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PHPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación PHP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/PHP.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PHPSQLModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Certificación PHP y MySQLi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/cvimg/PHPSQL.jpg" alt="angular" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>