<div class="content">
    <div class="colors">
        <a class="default" href="javascript:void(0)"></a>
        <a class="blue" href="javascript:void(0)"></a>
        <a class="green" href="javascript:void(0)"></a>
        <a class="red" href="javascript:void(0)"></a>
        <a class="white" href="javascript:void(0)"></a>
        <a class="black" href="javascript:void(0)"></a>
    </div>
    <div id="jquery-accordion-menu" class="jquery-accordion-menu">
        <div class="jquery-accordion-menu-header">Ejercicio </div>
        <ul>
            <li routerLinkActive="active" class="active">
                <a [routerLink]="['/Profile']"><i class="fa fa-home"></i>Home </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/TourDeHeroes']"><i class="fas fa-mask"></i>Tour de Heroes </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/SpotiApp']"><i class="fab fa-spotify"></i>SpotiApp </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/AuthApp']"><i class="fas fa-sign-in-alt"></i>AuthApp </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/Pipes']"><i class="fab fa-pied-piper-pp"></i>Pipes </a></li>
            <li routerLinkActive="active">
                <a [routerLink]="['/GoogleMaps']"><i class="fas fa-map-marked-alt"></i>Google Maps </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/Graficos']"><i class="fas fa-chart-line"></i>Gráficos </a></li>
            <li routerLinkActive="active">
                <a [routerLink]="['/CRUDconAPIREST']"><i class="fas fa-arrows-alt-v"></i>CRUD con API REST </a></li>
        </ul>
    </div>
</div>